.title__social {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
}

.text__footer {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.footer {

    &__container {
        margin: 8px auto;

        &__social {
            display: flex;
            padding-top: 16px;
            justify-content: center;


            &__icones {

                a {
                    
                    img {
                        max-width: 50px;
                        margin-left: 12px;
                    }
                }
            }
        }

        &__links {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;

            &__item {

                a {
                    margin: 8px;
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
    }
}