.sobre {


    &__container {
        margin: 16.6vw;

        h1 {
            margin-bottom: 70px;
        }

        img {
            max-width: 200px;
            border-radius: 10px;
        }

        &__info {
            display: flex;

            &__item {
                margin: 16px 32px;
            }
        }
    }
}